
body {
  background-color: rgb(4, 93, 141);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(30, 6, 134);
  background-color: rgb(22, 23, 132);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(186, 169, 13);
  z-index: 2;
}

#snake-head {
  background-color: rgb(250, 223, 25);
}

.apple {
  background-color: rgb(255, 255, 255);
  z-index: 1;
}